@model FixedFlight
@{
    ViewData["Title"] = "航班搜尋結果";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/css/slick-theme.css" />
    <link rel="stylesheet" href="~/css/templatemo-style.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

     <!--搜尋關鍵字使用-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

</head>

<div class="tm-page-wrap mx-auto">
    <section class="tm-banner">
        <div class="tm-container-outer tm-banner-bg">
            <div class="container">

                <div class="row tm-banner-row tm-banner-row-header">
                    <div class="col-xs-12">
                        <div class="tm-banner-header">
                            <h1 class="text-uppercase tm-banner-title">以下為搜尋結果</h1>
                            <img src="~/img/dots-3.png" alt="Dots">
                            <p class="tm-banner-subtitle">若搜尋結果不符合您的期望，可重新搜尋</p>
                        </div>
                    </div>  <!-- col-xs-12 -->
                </div> <!-- row -->
                <div class="row tm-banner-row" id="tm-section-search">

                    <form asp-action="FixedFlight" method="get" class="tm-search-form tm-section-pad-2">
                        <div class="form-row tm-search-form-row">
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                <label for="inputCity">請選擇您的出發地</label>
                                <input  asp-for="Origin" type="text" id="flight_origin" name="Origin" class="form-control" placeholder="Type your destination..." />
                                
                            </div>
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                <label for="inputCity">請選擇您的目的地</label>
                                <input asp-for="Destination" type="text" id="flight_destination" name="Destination" class="form-control" placeholder="Type your destination..." />                 
                            </div>

                        </div> <!-- form-row -->
                        <div class="form-row tm-search-form-row">
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3">
                                <label for="inputCheckIn">出發時間(從)</label>
                                <input id="departureDate" asp-for="DepartureDate" class="form-control" type="date" required />
                            </div>
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3">
                                <label for="inputCheckOut">出發時間(到)</label>
                                <input id="returnDate" asp-for="ReturnDate" class="form-control" type="date" required />
                            </div>
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                <label for="btnSubmit">&nbsp;</label>
                                <button type="submit" class="btn btn-primary tm-btn tm-btn-search text-uppercase" id="btnSubmit">重新搜尋</button>
                            </div>
                        </div>
                    </form>

                </div> <!-- row -->
                <div class="tm-banner-overlay"></div>
            </div>  <!-- .container -->
        </div>     <!-- .tm-container-outer -->
    </section>
</div>

    <div class="tm-container-outer" id="tm-section-3">

        <div class="tab-content clearfix">

            <!-- Tab  -->
            <div class="tab-pane fade show active" id="4a">
                <!-- Current Active Tab WITH "show active" classes in DIV tag -->
                <div class="tm-recommended-place-wrap">
                    @foreach (var flight in ViewBag.Depart)
                    {
                        <div class="tm-recommended-place">
                            <div class="tm-recommended-description-box">
                                <h3 class="tm-recommended-title">@flight.AirlineName</h3>
                                @{/*自動依據出發時間，若抵達時間比出發時間早(代表跨日飛行)則自動將降落日期+1*/}
                                @{DateTime ArriveDate = (TimeSpan.Parse(flight.ArrivalTime.Replace("+1", "")) < TimeSpan.Parse(flight.DepartureTime)) ? flight.FlightDate.AddDays(1) : flight.FlightDate;}
                                <p class="tm-text-highlight">起飛日期: @flight.FlightDate.ToString("yyyy/MM/dd")</p>
                                <p class="tm-text-highlight">起飛時間: @flight.DepartureTime</p>
                                <p class="tm-text-highlight">降落日期: @ArriveDate.ToString("yyyy/MM/dd")</p>
                                <p class="tm-text-highlight">降落時間: @flight.ArrivalTime</p>
                                <p class="tm-text-gray">預估飛行時間：@flight.FlightTime</p>
                            </div>
                            @{
                                string save_btn_class = "unlogin_saved_btn";
                                string eval_txt = flight.FlightNumber + flight.FlightDate.ToString("yyyy/MM/dd");
                                string data_toggle_txt = "";
                                string redirect_url = "../Home/Login";
                            }
                            @{
                                if (ViewData["uid"] != null && ViewData["uid"].ToString() !="0")
                                {
                                    save_btn_class = "";
                                    if(ViewBag.SavedFlight!=null) save_btn_class = ViewBag.SavedFlight.Contains(eval_txt) ? "saved_btn" : "";
                                    if (ViewBag.SavedFlight != null) data_toggle_txt = ViewBag.SavedFlight.Contains(eval_txt) ? "" : "modal";
                                    redirect_url = "#!";
                                }
                            }
                            <a href="@redirect_url" class="tm-recommended-price-box @save_btn_class" data-toggle="@data_toggle_txt" data-target="#exampleModal"
                               data-whatever="@flight.FlightNumber"
                               data-aName="@flight.AirlineName"
                               data-ddate="@flight.FlightDate.ToString("yyyy/MM/dd")"
                               data-dtime="@flight.DepartureTime"
                               data-adate="@ArriveDate.ToString("yyyy/MM/dd")"
                               data-atime="@flight.ArrivalTime">

                                <p class="tm-recommended-price">@flight.FlightNumber</p>
                                @{string save_btn = "登入後儲存";}
                                @{if (ViewData["uid"] != null && ViewData["uid"].ToString() != "0") save_btn = ViewBag.SavedFlight.Contains(eval_txt) ? "已儲存" : "儲存";}
                                <p class="tm-recommended-price-link">@save_btn</p>
                            </a>
                        </div>
                    }
                   
                </div>

                <!--<a href="#" class="text-uppercase btn-primary tm-btn mx-auto tm-d-table">顯示更多搜尋結果</a>-->
            </div> <!-- tab-pane -->


            <!-- 按下儲存後出現的 彈跳視窗 -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">儲存航班</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                      <form asp-action="SaveFlight" method="post">
                          <div class="form-group row">


                              <label for="airlineName" class="col-sm-5 col-form-label">航班名稱</label>
                              <div class="col-sm-5">
                                  <input type="text" readonly class="form-control-plaintext" id="airlineName" value="N/A">
                              </div>

                              <label for="departureDate" class="col-sm-5 col-form-label">起飛日期</label>
                              <div class="col-sm-5">
                                  <input type="text" readonly class="form-control-plaintext" id="departureDate" value="N/A">
                              </div>

                              <label for="departureTime" class="col-sm-5 col-form-label">起飛時間</label>
                              <div class="col-sm-5">
                                  <input type="text" readonly class="form-control-plaintext" id="departureTime" value="N/A">
                              </div>

                              <label for="arriveDate" class="col-sm-5 col-form-label">降落日期</label>
                              <div class="col-sm-5">
                                  <input type="text" readonly class="form-control-plaintext" id="arriveDate" value="N/A">
                              </div>

                              <label for="arriveTime" class="col-sm-5 col-form-label">降落時間</label>
                              <div class="col-sm-5">
                                  <input type="text" readonly class="form-control-plaintext" id="arriveTime" value="N/A">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="message-text" class="col-form-label">備註訊息:</label>
                              <textarea asp-for="Note" class="form-control" id="message-text" name="note"></textarea>
                          </div>
                          <!--儲存班機專用-->
                          <input type="hidden" asp-for="FlightNumber" id="FlightNumber" />
                          <input type="hidden" asp-for="Origin" id="Origin" value="@ViewData["origin"]"/>
                          <input type="hidden" asp-for="Destination" id="Destination" value="@ViewData["destination"]"/>
                          <input type="hidden" asp-for="DepartureDate" id="DepartureDateTime" />
                          <input type="hidden" asp-for="ReturnDate" id="ArriveDateTime" />

                          <div class="modal-footer">
                              <button type="reset" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                              <button type="submit" class="btn btn-primary">儲存此班機</button>
                          </div>
                      </form>

                  </div>
                  
                </div>
              </div>
            </div>

        </div>
    </div>


    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var recipient = button.data('whatever'); // Extract info from data-* attributes
            //var airlineName = button.data('aName');
            // departureDate = button.data('ddate');
            //var departureTime = button.data('dtime');
            //var arriveDate = button.data('adate');
            //var arriveTime = button.data('atime');
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            
            var modal = $(this);
            modal.find('.modal-title').text('儲存' + recipient + '的航班');
            modal.find('#airlineName').val(button.attr('data-aName'));
            modal.find('#departureDate').val(button.attr('data-ddate'));
            modal.find('#departureTime').val(button.attr('data-dtime'));
            modal.find('#arriveDate').val(button.attr('data-adate'));
            modal.find('#arriveTime').val(button.attr('data-atime'));

            //儲存航班專用
            modal.find('#FlightNumber').val(recipient);
            console.log(button.attr('data-ddate') + ' ' + button.attr('data-dtime').replace('+1', ''))
            modal.find('#DepartureDateTime').val(button.attr('data-ddate') + ' ' + button.attr('data-dtime').replace('+1', ''));
            modal.find('#ArriveDateTime').val(button.attr('data-adate') + ' ' + button.attr('data-atime').replace('+1', ''));

            //modal.find('#airlineName').val(airlineName);
            //modal.find('#departureDate').val(departureDate);
            //modal.find('#departureTime').val(departureTime);
            //modal.find('#arriveDate').val(arriveDate);
            //modal.find('#arriveTime').val(arriveTime);           
        })





    $(function() {
        var availableOrigin = [
            "馬拉威", "Malawi", "紐約市", "New York City", "KZAU", "馬德里", "Madrid", "布加勒斯特", "Bucharest", "蘇黎士", "Zurich", "巴格拉姆", "Bagram", "海曼", "吉達", "Jeddah", "喀拉汥", "多哈國際機場", "Doha International Airport", "岡山", "GANGSHAN", "清泉崗", "Ching-Chuang-Kang", "佳山", "JIASHAN", "屏東", "Pintung", "龍潭", "LONGTAN", "佳冬", "JIADONG", "鳳山", "FONGSHAN", "小琉球", "LIOUCIOUYU", "梨山", "LISHAN", "基隆", "KEELUNG", "馬祖", "Matsu", "東港", "DONGANG", "宜蘭", "YILAN", "東石", "DONGSHIH", "新竹", "HSINCHU", "台東志航", "TAIGUNG/JHIHHANG", "左營", "ZUOYING", "虎尾", "HUWEI", "日月潭", "SUN MOON LAKE", "臺中翔平", "八塊", "BAKUAI", "新社", "SINSHE", "歸仁", "GUEIREN", "釧路", "Kushiro", "鹿屋", "Kanoya", "小松島", "Tottori Airport", "RKPP",
            "Pusan Heliport", "TACURONG", "Tacurong", "PRMM", "MLP", "宿霧市", "Cebu City", "達沃", "Davao", "波多黎各", "Puerto Rico", "蘇俄", "Soviet Union", "VGHS", "VGHS", "VIBP", "德里", "Delhi", "邦加羅爾", "Bangalore", "NAKHON", "Khorat", "雅加達", "Jakarta", "巴淡島", "Batam", "BALIKPAPAN", "Sepinggan International Airport", "峇里島國際機場", "Denpasar-Bali", "泗水胡安達機場", "廣州2", "Canton", "海口", "Haikou", "平壤", "Pyongyang", "艾因國際機場", "AL AIN", "安曼", "Amman", "旭川機場", "Asahikawa", "奧克蘭國際機場", "Auckland Airport", "金賽蒙", "KING SALMON", "阿拉木圖國際機場", "Almaty", "薩達爾瓦拉巴伊帕特爾國際機場", "AHMEDABAD", "阿麗亞王后國際機場", "Queen Alia International Airport", "阿姆斯特丹史基浦機場", "Amsterdam", "安克拉治國際機場", "Ted Stevens Airport", "青森機場", "Aomori", "斯德哥爾摩阿蘭達機場", "Arlanda Intl Airport", "阿什哈巴德", "Ashgabat Airport",
            "敘米亞", "SHEMYA", "雅典國際機場", "Athens International Airport", "亞特蘭大國際機場", "Atlanta Intl Airport", "阿布達比國際機場", "ABU DHABI", "秋田機場", "Akita", "PHOENIX", "Phoenix-Mesa Gateway Airport", "阿不達比", "Abu Dhabi", "巴林國際機場", "Bahrain", "布拉德利", "Bradley", "貝魯特國際機場", "Beirut", "西雅圖波音", "SEATTLE BOEING", "伯明罕國際機場", "Birmingham Intl Airport", "WABB", "Frans Kaisiepo Airport", "班珠爾國際機場", "Banjul International Airport", "亞庇國際機場", "Kota", "蘇萬那普國際機場", "Bangkok Intl Airport", "貝林漢", "Bellingham", "邦加羅爾國際機場", "Bangalore", "布里斯本國際機場", "Brisbane Airport",
            "Thurgood Marshall Airport", "汶萊國際機場", "Brunei", "大叻市", "Dalat", "開羅國際機場", "Cairo Intl Airport", "廣州白雲國際機場", "Guangzhou Baiyun Airport", "宿霧", "Awang", "坎培拉國際機場", "Canberra Intl Airport", "加拉加斯國際機場", "Simon Bolivar Intl Airport", "加爾各答國際機場", "KOLKATA", "冷灣", "COLD BAY", "巴黎戴高樂機場", "Paris-Charles Airport", "宿霧國際機場", "Cebu", "清萊國際機場", "Chiang Rai", "雅加達國際機場", "Soekarno-Hatta Airport", "科隆機場", "KOLN/BONN", "鄭州新鄭國際機場", "Xinzheng Airport", "長春龍嘉國際機場", "Changchun Longjia Airport", "基督城國際機場", "CHRISTCHURCH", "羅馬錢皮諾機場", "ROMA/CIAMPINO", "濟州國際機場", "JEJU", "重慶江北國際機場", "Chongqing Jiangbei Airport", "卡爾斯巴德", "Carlsbad", "克里夫蘭霍普金斯國際機場", "Cleveland Hopkins Airport", "可倫坡班達拉奈克國際機場", "Colombo", "七美機場",
            "Motu Mute", "孟買國際機場", "Mumbai Intl Airport", "波士頓洛根國際機場", "Boston Logan Intl Airport", "海德拉巴", "Hyderabad", "布林諾Tuřany機場", "Brno - Tuřany Airport", "布魯塞爾機場", "Brussels Airport", "Batam", "Hang Nadim Airport", "布達佩斯國際機場", "Budapest Airport", "巴爾的摩馬歇爾國際機場",
            "Qimei Airport", "凱恩斯機場", "Cairns", "清邁國際機場", "Chiang Mai", "科欽國際機場", "Cochin", "哥本哈根機場", "Copenhagen Airport", "開普敦國際機場", "Cape Town Intl Airport", "克拉克", "CLARK", "長沙黃花國際機場", "Huanghua Airport", "新千歲機場", "Shin-Chitose Airport", "成都雙流國際機場", "Chengdu Shuangliu Airport", "芽莊金蘭機場", "Cam Ranh International Airport", "嘉義機場", "Chaiyi Airport", "常州奔牛國際機場", "Changzhou", "達卡國際機場", "Dhaka", "峴港國際機場", "Da Nang", "代頓國際機場", "Dayton", "雷根華盛頓國際機場", "Ronald Reagan Airport", "新德里英迪拉甘地國際機場", "Indira Grandhi Intl Airport", "丹佛國際機場", "Denver Intl Airport", "達拉斯沃斯堡國際機場", "Fort Worth Intl Airport", "達蘭", "Dhahran", "大連周水子國際機場", "Dalian Zhoushuizi Airport", "莫斯科多莫傑多沃國際機場", "Moscow Dme", "廊曼國際機場", "Don Mueang Intl Airport", "法赫德國王國際機場", "Dammam",
            "嘉手納", "KADENA", "DOVER", "Dover Air Force Base", "峇里島國際機場", "Ngurah Rai", "德勒斯登機場", "Dresden", "達爾文國際機場", "DARWIN", "東沙", "Pratas Islands", "底特律都會韋恩縣機場", "Metropolitan County Airport", "都柏林機場", "Dublin Airport", "杜塞道夫國際機場", "Dusseldorf Intl Airport", "達沃機場", "OSA", "杜拜DWC", "Al Maktoum International Airport", "杜拜國際機場", "DUBAI", "張家界荷花國際機場", "Zhangjiajie Hehua Airport", "安克拉治空軍基地", "ELMENDORF AFB.", "愛爾森空軍基地 費爾班克斯", "EIELSON AFB.", "科內", "KENAI/MUNI", "紐約紐華克機", "New Jersey", "布宜諾斯艾利斯機場", "Buenos Aires Airport", "法羅群島機場", "Faroe Islands Airport", "費爾班克斯", "FAIRBANKS", "羅馬法林明高機場", "Rome / Fiumicino", "富查伊拉國際機場", "United Arab Emirates", "Fukushima Airport", "佛羅倫斯機場", "Florence Intl Airport", "平壤順安國際機場", "PYONGYANG", "福州長樂機場", "Fuzhou Changle Airport", "法蘭克福國際機場", "Frankfurt-Main Airport", "MANAS AIRPORT", "Manas Airport",
            "靜岡", "Shizuoka", "福岡機場", "Fukuoka", "Bristol Filton Airport", "山形", "Yamagata", "索科爾機場", "Sokol Airport", "TANBLER", "Tanbler", "喬治城", "Georgetown", "首爾金浦國際機場", "Seoul-Gimpo Intl Airport", "綠島機場", "Lyudao Airport", "努克機場", "Nuuk Airport", "聖保羅瓜魯柳斯國際機場", "Guarulhos Airport", "格拉茲機場", "Graz Airport", "關島國際機場", "GUAM INTL", "日內瓦機場", "Geneva Intl Airport", "蓋達爾阿利耶夫國際機場", "Baku", "海口美蘭國際機場", "Meilan", "漢堡機場", "Hamburg Airport", "河內內排國際機場", "Noi Bai Intl Airport", "恆春機場", "Hengchun Airport", "合艾國際機場", "Hat Yai", "赫爾辛基萬塔國際機場", "Helsinki Airport", "呼和浩特白塔國際機場", "Huhehaote Baita Airport", "合肥駱崗國際機場", "Hefei", "杭州蕭山國際機場", "Hangzhou Xiaoshan Airport", "Hahn Germany", "Frankfurt hahn Airport", "華欣", "Hua Hin", "淮安漣水機場", "Huaian", "廣島機場", "Hiroshima", "波特蘭(1)", "Portland",
            "霍尼亞拉國際機場", "Honiara Solomon I.", "廣島西", "Hiroshima-Nishi", "函館機場", "HAKODATE", "香港國際機場", "Hong Kong Intl Airport", "普吉國際機場", "Phuket intl Airport", "呼倫貝爾海拉爾機場", "Hulunbuir Hailar Airport", "雅加達 哈姆", "JAKARTA HALIM", "花卷機場", "Hanamaki", "東京羽田機場", "Tokyo-Haneda Airport", "檀香山國際機場", "Honolulu", "哈爾濱太平國際機場", "Harbin", "佐賀", "SAGA", "赤塔", "Chita", "胡阿希內島", "Huahine", "花蓮機場", "Hualien", "堪薩斯", "Kansas City", "華盛頓杜勒斯機國際場", "Washington Dulles Airport", "休斯頓喬治布希洲際機場", "Houston", "Ibaraki Airport", "仁川國際機場", "Seoul", "銀川河東國際機場", "Yinchuan Hedong Airport", "貝娜齊爾布托國際機場", "Islamabad", "新石垣機場", "Ishigaki", "阿塔蒂爾克國際機場", "Istanbul", "伊斯坦堡新機場", "Istanbul Airport", "大阪伊丹機場", "Itami Intl Airport", "希羅 夏威夷", "HILO INTL", "OTBH", "Al Udeid AB", "石見", "Iwami", "出雲", "Izumo", "吉達機場", "Jeddah", "約翰甘迺迪國際機場", "John F.Kennedy Airport", "士乃", "Senai", "吉林", "Jilin", "泉州晉江機場", "Quanzhou Jinjiang Airport",
            "佳木斯", "JIAMUSI", "約翰尼斯堡奧利弗坦博國際機場", "日惹國際機場", "Adisucipto International Airport", "喀比", "Krabi", "古晉國際機場", "Kuching", "高知機場", "KOCHI", "阿富汗坎達哈", "Kandahar International Airport", "雷克雅未克機場", "Reykjavik-Keflavik Airport", "喀什機場", "Kashgar Airport", "高雄小港國際機場", "Kaohsiung", "真納國際機場", "KARACHI", "南昌昌北國際機場", "Nanchang", "哈巴羅夫斯克機場", "KHABAROVSK", "新潟機場", "Niigata", "關西", "Osaka-Kansai Intl Airport", "葉梅利亞諾夫", "Yemelyanovo", "北九州機場", "Fukuoka / Kita Kyushu / Kokura", "長灘島卡利博國際機場", "昆明巫家壩國際機場", "Kunming Wujiaba Airport", "宮崎機場", "MIYAZAKI", "熊本機場", "KUMAMOTO", "小松機場", "KOMATSU", "金門機場", "Kinmen Airport", "棉蘭波羅尼亞 印尼", "MEDAN", "科納國際機場", "KONA/KEALOHE", "鹿兒島機場", "Kagoshima", "西哈努克國際機場", "Sihanouk", "贛州", "Ganzhou", "RKTH", "Pohang", "土庫曼", "Turkmenbashi", "PTSA", "Kosrae International Airport", "加德滿都國際機場", "Tribhuvan International Airport", "關丹機場", "KUANTAN", "釧路機場", "Kushiro", "吉隆坡國際機場", "Kuala Lumpur Intl Airport", "屋久島",
            "Yakushima Airport", "布丘", "KWAJALEIN/BUCHOLZ", "貴陽龍洞堡國際機場", "Guiyang", "科威特國際機場", "Kuwait Intl Airport", "光州機場", "Gwangju", "桂林兩江國際機場", "Guilin Liangjiang Airport", "蘭嶼機場", "Lanyu Airport", "喀山機場", "Kazan", "佬沃機場", "Laoag", "拉斯維加斯麥卡倫國際機場", "McCarran", "洛杉磯國際機場", "Los Angeles", "納閩機場", "Labuan", "聖彼得堡普爾科沃機場", "Saint Petersburg", "拉瓜地亞機場", "La Guardia Airport", "長堤", "Long Beach", "列日機場", "Liege", "蘭卡威國際機場", "Langkawi", "倫敦蓋威克國際機場", "LONDON GATWICK", "阿拉馬伊克巴勒國際機場", "Lahore", "倫敦希斯洛國際機場", "London", "蘭州中川國際機場", "Zhongchuan Airport", "里爾機場", "LILLE", "利馬查維茲國際機場", "Jorge Chavez Intl Airport", "里斯本機場", "Lisbon Intl Airport", "麗江三義國際機場", "Lijiang Sanyi Airport", "林茲機場", "LINZ AUSTRIA", "Nells Airforce Base", "Nells Airforce Base", "盧森堡芬德爾國際機場", "Luxembourg", "洛陽北郊機場", "Luoyang Beijiao Airport", "南竿機場", "Nangan Airport", "清奈國際機場", "MADRAS", "馬德里巴拉哈斯國際機場", "Barajas Intl Airport", "馬紹爾", "MARSHELL I.", "曼徹斯特國際機場", "Manchester Intl Airport", "馬斯喀特國際機場", "MUSCAT", "薩姆拉圖蘭吉國際機場", "MANADO", "曼德勒", "Mandalay", "芝加哥中途國際機場", "Chicago",
            "中途島", "MIDWAY", "YMEN", "Essendon Airport", "墨爾本國際機場", "Melbourne", "孟菲斯國際機場", "Memphis", "墨西哥城國際機場", "Juarez Intl Airport", "馬祖北竿機場", "Beigan Airport", "澳門國際機場", "Macau Intl Airport", "加州", "California", "邁阿密國際機場", "Miami International Airport", "Maldives", "女滿別", "MEMANBETSU", "清洲", "Kiyosu", "宮古機場", "Miyako Jima", "馬尼拉機場", "Ninoy Aquino Airport", "模里西斯國際機場", "Mauritius", "明尼亞波利斯聖保羅國際機場", "MINNEAPOLIS", "紐奧良國際機場", "New Orleans Intl Airport", "慕尼黑國際機場", "Munich Intl Airport", "務安", "MUAN", "米蘭馬爾彭薩機場", "Malpensa Intl Airport", "梅縣長崗岌機場", "Meixian Airport", "日本松山機場", "MATSUYAMA", "米里機場", "Miri", "澎湖", "Penghu Airport", "Mazari Sharif", "拿坡里國際機場", "Naples Airport", "寧波櫟社國際機場", "Ningbo", "中部國際機場", "CHUBU CENTRAIR INTL",
            "長崎機場", "Nagasaki", "南京祿口國際機場", "Nanjing", "名古屋", "Nagoya", "南寧吳圩國際機場", "Nanning", "努美阿國際機場", "NOUMEA NEW CALEDONIA", "東京成田機場", "Tokyo-Narita Intl Airport", "南通", "Nantong", "能登", "NOTO", "奧克蘭", "Oakland", "帶廣機場", "OBIHIRO", "卡胡魯伊機場", "Dillingham Airfield", "與那國島", "Yonaguni", "大分機場", "OITA", "沖縄", "Okinawa-Naha Airport", "札幌", "Sapporo", "日本岡山機場", "OKAYAMA", "橫田", "Yokota", "nome", "Nome Airport", "能代", "Noshiro", "安大略", "ONTARIO", "黃金海岸機場", "GOLD COAST", "芝加哥歐海爾國際機場", "CHIGAGO", "巴黎奧利機場", "Paris Orly Airport", "奧斯陸加勒穆恩國際機場", "Gardermoen Intl Airport", "Osan", "Osan AB", "奧斯坦德", "Ostend", "布加勒斯特亨利科恩達機場", "BUCHAREST ROMANIA", "俄羅斯", "Novosibirsk Tolmachevo Airport", "華盛頓", "Washington", "帕羅國際機場", "Paro Airport", "波特蘭國際機場", "PORTLAND", "北京首都國際機場",
            "Beijing", "檳城國際機場", "Penang", "伯斯國際機場", "Perth Intl Airport", "帕福斯", "Pafos", "海德蘭港", "Port Hedland", "費城國際機場", "PHILADELPHIA", "鳳凰城天港國際機場", "Sky Harbor Airport", "屏東", "Pingtung", "匹茲堡國際機場", "Pittsburgh Intl Airport", "堪察加", "KAMCHATSKY", "金邊國際機場", "Phnom Pehn Intl Aiport", "傑克遜斯國際機場", "PORT MORESBY", "Phaplu機場", "公主港", "Puerto Princesa", "富國機場", "Phu Quoc International Airport", "布拉格機場", "Prague Airport", "比薩聖朱斯托機場", "Pisa-San Giusto Airport", "PONTICAOAKLAND", "Auckland Airport", "巴拿馬托庫門國際機場", "Tocumen International Airport", "釜山金海國際機場", "Pusan Gimhae Airport", "上海", "Shanghai Pudong Airport", "波特蘭國際噴射機機場", "Portland Intl Jetport", "巴耶利峇", "Paya Lebar", "吳哥國際機場", "Siem", "仰光國際機場", "Yangon", "臺中國際機場", "Ching Chung Kang Airport", "雷諾太浩國際機場", "Reno-Tahoe International Airport", "帛琉國際機場", "Palau", "哈立德國王國際機場", "Riyadh", "聖地牙哥國際機場", "San Diego", "智利聖地牙哥國際機場", "Santiago Intl Airport",
            "仙台機場", "Sendai", "山打根機場", "Sandakan Airport", "聖杜蒙特機場", "Santos Dumont Airport", "西雅圖國際機場", "Seattle", "舊金山國際機場", "San Francisco", "蘇比克", "SFS", "胡志明市", "Tan Son Nhat Intl Airport", "上海虹橋國際機場", "Shanghai Hongqiao Airport", "中標津", "Nakashibetsu", "瀋陽桃仙國際機場", "Shenyang Taoxian Airport", "沙迦", "SHARJAH", "南紀白濱機場", "Shirahama", "新加坡樟宜國際機場", "Singapore-Changi Airport", "聖荷西國際機場", "SAN JOSE", "石家莊正定國際機場", "Shijiazhuang", "沙加緬度", "SACRAMENTO", "索菲亞國際機場", "Sofia Airport", "千穗", "Chitose", "塞班國際機場", "SAIPAN", "聖路易國際機場", "St. Louis Intl Airport", "倫敦史坦斯特國際機場", "Stansted Intl Airport", "Joint", "泗水朱安達國際機場", "Banda Udara", "莫斯科謝列梅捷沃國際機場", "Sheremetyevo Airport", "汕頭外砂機場", "Shantou Waisha Airport", "柏林香尼斐機場", "Berlin-Schonefeld Airport", "雪梨國際機場", "Sydney Airport", "庄內", "Shonai", "三亞鳳凰國際機場", "Phoenix", "蘇丹阿都阿兹沙機場", "Sultan Abdul Aziz Shah Airport", "薩爾茨堡機場", "Salzburg Airport", "深圳寶安國際機場", "Shenzhen", "大邱機場", "Daegu", "高松", "TAKAMATSU", "青島流亭國際機場", "Qingdao", "塔什干國際機場", "Tashkent International Airport", "努瓜婁發國際機場", "Tonga",
            "Tacoma", "Joint Base Lewis-McChord", "梅赫拉巴德國際機場", "TEHRAN", "格陵蘭島", "Thule Greenland", "徳之島機場", "Tokunoshima Airport", "德島", "Tokushima", "土魯斯布拉尼亞克機場", "Toulouse", "本古里安國際機場", "Ben-Gurion Airport", "濟南遙牆國際機場", "Jinan", "種子島", "Tanegashima", "臺南機場", "Tainan Airport", "東沙", "富山機場", "Toyama", "臺北桃園國際機場", "Taoyuan", "臺北松山國際機場", "Songshan Airport", "天津濱海國際機場", "Tianjin", "湯斯維爾機場", "TOWNSVILLE", "鳥取", "TOTTORI", "臺東機場", "Taitung Airport", "黃山屯溪國際機場", "Huangshan Airport", "太原武宿國際機場", "Taiyuan", "VAB", "安德森空軍基地", "ANDERSON AFB.", "山口宇部機場", "Yamaguchi-Ube", "烏文府", "Ubon Ratchathni", "烏法機場", "Ufa International Airport", "神戶", "Kobe Airport", "成吉思汗國際機場", "Buyant Uhaa Intl Airport", "烏魯木齊地窩堡國際機場", "Urumqi", "素叻他尼機場", "Surat Thani", "蘇梅國際機場", "Samui", "蔚山", "Ulsan", "烏隆他尼國際機場", "Udon Thani", "烏打拋", "U-Tapao", "庫頁島", "YUZHNO-SAKHALINSK/KHOMUTOVO", "瓦爾納國際機場", "VARNA BULGARIA", "芹苴", "Can Tho", "威尼斯泰塞拉機場", "Venice Intl Airport", "雲屯國際機場", "Van Don International Airport", "維也納國際機場", "WIEN-SCHWECHAT",
            "榮市", "Vinh International Airport", "莫斯科伏努科沃國際機場", "Vnukovo", "KVNY", "Van Nuys Airport", "永珍瓦岱國際機場", "WATTAY INTL", "海參崴國際機場", "VLADIVOSTOK", "華沙蕭邦國際機場", "Warsaw Intl Airport", "威海大水泊機場", "Weihai Dashuibo Airport", "稚內機場", "Wakkanai", "威靈頓國際機場", "WELLINGTON", "溫州龍灣國際機場", "Wenzhou Longwan Airport", "望安機場", "Wang-an", "武漢天河國際機場", "Wuhan", "武夷山機場", "Wuyishan Airport", "無錫碩放國際機場", "Wuxi Shuofang Airport", "西安咸陽國際機場", "XIAN", "廈門高崎國際機場", "Xiamen", "西寧曹家堡機場", "Xining Caojiabao Airport", "實里達", "Seletar", "徐州觀音國際機場", "Xuzhou Guanyin Airport", "利雅德", "Riyadh", "雅蒲島國際機場", "YAP INTL", "米子機場", "宜昌三峽機場", "Yichang Sanxia Airport", "義烏機場", "Yiwu", "蒙特婁(加拿大)", "Montreal Mirabel Canada", "延吉朝陽川國際機場", "Yanji", "煙台", "Yantai", "襄陽", "Yangyang", "鹽城南洋機場", "Yan Cheng Airport", "渥太華國際機場", "Ottawa Canada", "魁北克(加拿大)", "Quebec Canada", "柯摩克斯", "COMOX B.C.", "甘德機場", "Gander International Airport", "揚州", "Yangzhou Taizhou", "蒙特利爾國際機場", "Montreal-Trudeau Airport", "溫哥華國際機場", "Vancouver", "亞伯斯福特市", "ABBOTSFORD B.C.", "Whitehorse", "Whitehorse", "卡加利國際機場", "CALGARY", "多倫多國際機場", "Lester B. Pearson Airport", "薩格勒布機場", "Zagreb-Pleso Airport", "三寶顏機場", "Zamboanga", "蘇黎世機場", "Zurich-Kloten Airport",
            "AAN", "ADJ", "AKJ", "AKL", "AKN", "ALA", "AMD", "AMM", "AMS", "ANC", "AOJ", "ARN", "ASB", "ASY", "ATH", "ATL", "AUH", "AXT", "AZA", "AZI", "BAH", "BDL", "BEY", "BFI", "BHX", "BIK", "BJL", "BKI", "BKK", "BLI", "BLR", "BNE", "BOB", "BOM", "BOS", "BPM", "BRQ", "BRU", "BTH", "BUD", "BWI", "BWN", "CAH", "CAI", "CAN", "CBO", "CBR", "CCS", "CCU", "CDB", "CDG", "CEB", "CEI", "CGK", "CGN", "CGO", "CGQ", "CHC", "CIA", "CJJ", "CJU", "CKG", "CLD", "CLE", "CMB", "CMJ", "CNS", "CNX", "COK", "CPH", "CPT", "CRK", "CSX", "CTS", "CTU", "CXR", "CYI", "CZX", "DAC", "DAD", "DAY", "DCA", "DEL", "DEN", "DFW", "DHA", "DLC", "DME", "DMK", "DMM", "DNA", "DOV", "DPS", "DRS", "DRW", "DSX", "DTW", "DUB", "DUS", "DVO", "DWC", "DXB", "DYG", "EDF", "EIL", "ENA", "EWR", "EZE", "FAE", "FAI", "FCO", "FJR", "FKS", "FLR", "FNJ", "FOC", "FRA", "FRU", "FSZ", "FUK", "FZO", "GAJ", "GDX", "GES", "GGE", "GMP", "GNI", "GOH", "GRU", "GRZ", "GUM", "GVA", "GYD", "HAK", "HAM", "HAN", "HCN", "HDY", "HEL", "HET", "HFE", "HGH", "HHN", "HHQ", "HIA", "HIJ", "HIO", "HIR", "HIW", "HKD", "HKG", "HKT", "HLD", "HLP", "HNA", "HND", "HNL", "HRB", "HSG", "HTA", "HUH", "HUN", "IAB", "IAD", "IAH", "IBR", "ICN", "INC", "ISB", "ISG", "ISL", "IST", "ITM", "ITO", "IUD", "IWJ", "IZO", "JED", "JFK", "JHB", "JIL", "JJN", "JMU", "JNB", "JOG", "KBV", "KCH", "KCZ", "KDH", "KEF", "KHG", "KHH", "KHI",
            "KHN", "KHV", "KIJ", "KIX", "KJA", "KKJ", "KLO", "KMG", "KMI", "KMJ", "KMQ", "KNH", "KNO", "KOA", "KOJ", "KOS", "KOW", "KPO", "KRW", "KSA", "KTM", "KUA", "KUH", "KUL", "KUM", "KWA", "KWE", "KWI", "KWJ", "KWL", "KYD", "KZN", "LAO", "LAS", "LAX", "LBU", "LED", "LGA", "LGB", "LGG", "LGK", "LGW", "LHE", "LHR", "LHW", "LIL", "LIM", "LIS", "LJG", "LNZ", "LSV", "LUX", "LYA", "LZN", "MAA", "MAD", "MAJ", "MAN", "MCT", "MDC", "MDL", "MDW", "MDY", "MEB", "MEL", "MEM", "MEX", "MFK", "MFM", "MHV", "MIA", "MLE", "MMB", "MMJ", "MMY", "MNL", "MRU", "MSP", "MSY", "MUC", "MWX", "MXP", "MXZ", "MYJ", "MYY", "MZG", "MZR", "NAP", "NGB", "NGO", "NGS", "NKG", "NKM", "NNG", "NOU", "NRT", "NTG", "NTQ", "OAK", "OBO", "OGG", "OGN", "OIT", "OKA", "OKD", "OKJ", "OKO", "OME", "ONJ", "ONT", "OOL", "ORD", "ORY", "OSL", "OSN", "OST", "OTP", "OVB", "PAE", "PBH", "PDX", "PEK", "PEN", "PER", "PFO", "PHE", "PHL", "PHX", "PIF", "PIT", "PKC", "PNH", "POM", "PPL", "PPS", "PQC", "PRG", "PSA", "PTK", "PTY", "PUS", "PVG", "PWM", "QPG", "REP", "RGN", "RMQ", "RNO", "ROR", "RUH", "SAN", "SCL", "SDJ", "SDK", "SDU", "SEA", "SFO", "SFS", "SGN", "SHA", "SHB", "SHE", "SHJ", "SHM", "SIN", "SJC", "SJW", "SMF", "SOF", "SPK", "SPN", "STL", "STN", "STP", "SUB", "SVO", "SWA", "SXF", "SYD", "SYO", "SYX", "SZB", "SZG", "SZX", "TAE", "TAK", "TAO", "TAS", "TBU", "TCM", "THR", "THU", "TKN",
            "TKS", "TLS", "TLV", "TNA", "TNE", "TNN", "TOS", "TOY", "TPE", "TSA", "TSN", "TSV", "TTJ", "TTT", "TXN", "TYN", "UAB", "UAM", "UBJ", "UBP", "UFA", "UKB", "ULN", "URC", "URT", "USM", "USN", "UTH", "UTP", "UUS", "VAR", "VCA", "VCE", "VDO", "VIE", "VII", "VKO", "VNY", "VTE", "VVO", "WAW", "WEH", "WKJ", "WLG", "WNZ", "WOT", "WUH", "WUS", "WUX", "XIY", "XMN", "XNN", "XSP", "XUZ", "XXN", "YAP", "YGJ", "YIH", "YIW", "YMX", "YNJ", "YNT", "YNY", "YNZ", "YOW", "YQB", "YQQ", "YQX", "YTY", "YUL", "YVR", "YXX", "YXY", "YYC", "YYZ", "ZAG", "ZAM", "ZRH"
        ];
        $( "#flight_origin" ).autocomplete({
            source: availableOrigin
        });

        //這邊是目的地的關鍵字
        var availableDestination = [
            "馬拉威", "Malawi", "紐約市", "New York City", "KZAU", "馬德里", "Madrid", "布加勒斯特", "Bucharest", "蘇黎士", "Zurich", "巴格拉姆", "Bagram", "海曼", "吉達", "Jeddah", "喀拉汥", "多哈國際機場", "Doha International Airport", "岡山", "GANGSHAN", "清泉崗", "Ching-Chuang-Kang", "佳山", "JIASHAN", "屏東", "Pintung", "龍潭", "LONGTAN", "佳冬", "JIADONG", "鳳山", "FONGSHAN", "小琉球", "LIOUCIOUYU", "梨山", "LISHAN", "基隆", "KEELUNG", "馬祖", "Matsu", "東港", "DONGANG", "宜蘭", "YILAN", "東石", "DONGSHIH", "新竹", "HSINCHU", "台東志航", "TAIGUNG/JHIHHANG", "左營", "ZUOYING", "虎尾", "HUWEI", "日月潭", "SUN MOON LAKE", "臺中翔平", "八塊", "BAKUAI", "新社", "SINSHE", "歸仁", "GUEIREN", "釧路", "Kushiro", "鹿屋", "Kanoya", "小松島", "Tottori Airport", "RKPP",
            "Pusan Heliport", "TACURONG", "Tacurong", "PRMM", "MLP", "宿霧市", "Cebu City", "達沃", "Davao", "波多黎各", "Puerto Rico", "蘇俄", "Soviet Union", "VGHS", "VGHS", "VIBP", "德里", "Delhi", "邦加羅爾", "Bangalore", "NAKHON", "Khorat", "雅加達", "Jakarta", "巴淡島", "Batam", "BALIKPAPAN", "Sepinggan International Airport", "峇里島國際機場", "Denpasar-Bali", "泗水胡安達機場", "廣州2", "Canton", "海口", "Haikou", "平壤", "Pyongyang", "艾因國際機場", "AL AIN", "安曼", "Amman", "旭川機場", "Asahikawa", "奧克蘭國際機場", "Auckland Airport", "金賽蒙", "KING SALMON", "阿拉木圖國際機場", "Almaty", "薩達爾瓦拉巴伊帕特爾國際機場", "AHMEDABAD", "阿麗亞王后國際機場", "Queen Alia International Airport", "阿姆斯特丹史基浦機場", "Amsterdam", "安克拉治國際機場", "Ted Stevens Airport", "青森機場", "Aomori", "斯德哥爾摩阿蘭達機場", "Arlanda Intl Airport", "阿什哈巴德", "Ashgabat Airport",
            "敘米亞", "SHEMYA", "雅典國際機場", "Athens International Airport", "亞特蘭大國際機場", "Atlanta Intl Airport", "阿布達比國際機場", "ABU DHABI", "秋田機場", "Akita", "PHOENIX", "Phoenix-Mesa Gateway Airport", "阿不達比", "Abu Dhabi", "巴林國際機場", "Bahrain", "布拉德利", "Bradley", "貝魯特國際機場", "Beirut", "西雅圖波音", "SEATTLE BOEING", "伯明罕國際機場", "Birmingham Intl Airport", "WABB", "Frans Kaisiepo Airport", "班珠爾國際機場", "Banjul International Airport", "亞庇國際機場", "Kota", "蘇萬那普國際機場", "Bangkok Intl Airport", "貝林漢", "Bellingham", "邦加羅爾國際機場", "Bangalore", "布里斯本國際機場", "Brisbane Airport",
            "Thurgood Marshall Airport", "汶萊國際機場", "Brunei", "大叻市", "Dalat", "開羅國際機場", "Cairo Intl Airport", "廣州白雲國際機場", "Guangzhou Baiyun Airport", "宿霧", "Awang", "坎培拉國際機場", "Canberra Intl Airport", "加拉加斯國際機場", "Simon Bolivar Intl Airport", "加爾各答國際機場", "KOLKATA", "冷灣", "COLD BAY", "巴黎戴高樂機場", "Paris-Charles Airport", "宿霧國際機場", "Cebu", "清萊國際機場", "Chiang Rai", "雅加達國際機場", "Soekarno-Hatta Airport", "科隆機場", "KOLN/BONN", "鄭州新鄭國際機場", "Xinzheng Airport", "長春龍嘉國際機場", "Changchun Longjia Airport", "基督城國際機場", "CHRISTCHURCH", "羅馬錢皮諾機場", "ROMA/CIAMPINO", "濟州國際機場", "JEJU", "重慶江北國際機場", "Chongqing Jiangbei Airport", "卡爾斯巴德", "Carlsbad", "克里夫蘭霍普金斯國際機場", "Cleveland Hopkins Airport", "可倫坡班達拉奈克國際機場", "Colombo", "七美機場",
            "Motu Mute", "孟買國際機場", "Mumbai Intl Airport", "波士頓洛根國際機場", "Boston Logan Intl Airport", "海德拉巴", "Hyderabad", "布林諾Tuřany機場", "Brno - Tuřany Airport", "布魯塞爾機場", "Brussels Airport", "Batam", "Hang Nadim Airport", "布達佩斯國際機場", "Budapest Airport", "巴爾的摩馬歇爾國際機場",
            "Qimei Airport", "凱恩斯機場", "Cairns", "清邁國際機場", "Chiang Mai", "科欽國際機場", "Cochin", "哥本哈根機場", "Copenhagen Airport", "開普敦國際機場", "Cape Town Intl Airport", "克拉克", "CLARK", "長沙黃花國際機場", "Huanghua Airport", "新千歲機場", "Shin-Chitose Airport", "成都雙流國際機場", "Chengdu Shuangliu Airport", "芽莊金蘭機場", "Cam Ranh International Airport", "嘉義機場", "Chaiyi Airport", "常州奔牛國際機場", "Changzhou", "達卡國際機場", "Dhaka", "峴港國際機場", "Da Nang", "代頓國際機場", "Dayton", "雷根華盛頓國際機場", "Ronald Reagan Airport", "新德里英迪拉甘地國際機場", "Indira Grandhi Intl Airport", "丹佛國際機場", "Denver Intl Airport", "達拉斯沃斯堡國際機場", "Fort Worth Intl Airport", "達蘭", "Dhahran", "大連周水子國際機場", "Dalian Zhoushuizi Airport", "莫斯科多莫傑多沃國際機場", "Moscow Dme", "廊曼國際機場", "Don Mueang Intl Airport", "法赫德國王國際機場", "Dammam",
            "嘉手納", "KADENA", "DOVER", "Dover Air Force Base", "峇里島國際機場", "Ngurah Rai", "德勒斯登機場", "Dresden", "達爾文國際機場", "DARWIN", "東沙", "Pratas Islands", "底特律都會韋恩縣機場", "Metropolitan County Airport", "都柏林機場", "Dublin Airport", "杜塞道夫國際機場", "Dusseldorf Intl Airport", "達沃機場", "OSA", "杜拜DWC", "Al Maktoum International Airport", "杜拜國際機場", "DUBAI", "張家界荷花國際機場", "Zhangjiajie Hehua Airport", "安克拉治空軍基地", "ELMENDORF AFB.", "愛爾森空軍基地 費爾班克斯", "EIELSON AFB.", "科內", "KENAI/MUNI", "紐約紐華克機", "New Jersey", "布宜諾斯艾利斯機場", "Buenos Aires Airport", "法羅群島機場", "Faroe Islands Airport", "費爾班克斯", "FAIRBANKS", "羅馬法林明高機場", "Rome / Fiumicino", "富查伊拉國際機場", "United Arab Emirates", "Fukushima Airport", "佛羅倫斯機場", "Florence Intl Airport", "平壤順安國際機場", "PYONGYANG", "福州長樂機場", "Fuzhou Changle Airport", "法蘭克福國際機場", "Frankfurt-Main Airport", "MANAS AIRPORT", "Manas Airport",
            "靜岡", "Shizuoka", "福岡機場", "Fukuoka", "Bristol Filton Airport", "山形", "Yamagata", "索科爾機場", "Sokol Airport", "TANBLER", "Tanbler", "喬治城", "Georgetown", "首爾金浦國際機場", "Seoul-Gimpo Intl Airport", "綠島機場", "Lyudao Airport", "努克機場", "Nuuk Airport", "聖保羅瓜魯柳斯國際機場", "Guarulhos Airport", "格拉茲機場", "Graz Airport", "關島國際機場", "GUAM INTL", "日內瓦機場", "Geneva Intl Airport", "蓋達爾阿利耶夫國際機場", "Baku", "海口美蘭國際機場", "Meilan", "漢堡機場", "Hamburg Airport", "河內內排國際機場", "Noi Bai Intl Airport", "恆春機場", "Hengchun Airport", "合艾國際機場", "Hat Yai", "赫爾辛基萬塔國際機場", "Helsinki Airport", "呼和浩特白塔國際機場", "Huhehaote Baita Airport", "合肥駱崗國際機場", "Hefei", "杭州蕭山國際機場", "Hangzhou Xiaoshan Airport", "Hahn Germany", "Frankfurt hahn Airport", "華欣", "Hua Hin", "淮安漣水機場", "Huaian", "廣島機場", "Hiroshima", "波特蘭(1)", "Portland",
            "霍尼亞拉國際機場", "Honiara Solomon I.", "廣島西", "Hiroshima-Nishi", "函館機場", "HAKODATE", "香港國際機場", "Hong Kong Intl Airport", "普吉國際機場", "Phuket intl Airport", "呼倫貝爾海拉爾機場", "Hulunbuir Hailar Airport", "雅加達 哈姆", "JAKARTA HALIM", "花卷機場", "Hanamaki", "東京羽田機場", "Tokyo-Haneda Airport", "檀香山國際機場", "Honolulu", "哈爾濱太平國際機場", "Harbin", "佐賀", "SAGA", "赤塔", "Chita", "胡阿希內島", "Huahine", "花蓮機場", "Hualien", "堪薩斯", "Kansas City", "華盛頓杜勒斯機國際場", "Washington Dulles Airport", "休斯頓喬治布希洲際機場", "Houston", "Ibaraki Airport", "仁川國際機場", "Seoul", "銀川河東國際機場", "Yinchuan Hedong Airport", "貝娜齊爾布托國際機場", "Islamabad", "新石垣機場", "Ishigaki", "阿塔蒂爾克國際機場", "Istanbul", "伊斯坦堡新機場", "Istanbul Airport", "大阪伊丹機場", "Itami Intl Airport", "希羅 夏威夷", "HILO INTL", "OTBH", "Al Udeid AB", "石見", "Iwami", "出雲", "Izumo", "吉達機場", "Jeddah", "約翰甘迺迪國際機場", "John F.Kennedy Airport", "士乃", "Senai", "吉林", "Jilin", "泉州晉江機場", "Quanzhou Jinjiang Airport",
            "佳木斯", "JIAMUSI", "約翰尼斯堡奧利弗坦博國際機場", "日惹國際機場", "Adisucipto International Airport", "喀比", "Krabi", "古晉國際機場", "Kuching", "高知機場", "KOCHI", "阿富汗坎達哈", "Kandahar International Airport", "雷克雅未克機場", "Reykjavik-Keflavik Airport", "喀什機場", "Kashgar Airport", "高雄小港國際機場", "Kaohsiung", "真納國際機場", "KARACHI", "南昌昌北國際機場", "Nanchang", "哈巴羅夫斯克機場", "KHABAROVSK", "新潟機場", "Niigata", "關西", "Osaka-Kansai Intl Airport", "葉梅利亞諾夫", "Yemelyanovo", "北九州機場", "Fukuoka / Kita Kyushu / Kokura", "長灘島卡利博國際機場", "昆明巫家壩國際機場", "Kunming Wujiaba Airport", "宮崎機場", "MIYAZAKI", "熊本機場", "KUMAMOTO", "小松機場", "KOMATSU", "金門機場", "Kinmen Airport", "棉蘭波羅尼亞 印尼", "MEDAN", "科納國際機場", "KONA/KEALOHE", "鹿兒島機場", "Kagoshima", "西哈努克國際機場", "Sihanouk", "贛州", "Ganzhou", "RKTH", "Pohang", "土庫曼", "Turkmenbashi", "PTSA", "Kosrae International Airport", "加德滿都國際機場", "Tribhuvan International Airport", "關丹機場", "KUANTAN", "釧路機場", "Kushiro", "吉隆坡國際機場", "Kuala Lumpur Intl Airport", "屋久島",
            "Yakushima Airport", "布丘", "KWAJALEIN/BUCHOLZ", "貴陽龍洞堡國際機場", "Guiyang", "科威特國際機場", "Kuwait Intl Airport", "光州機場", "Gwangju", "桂林兩江國際機場", "Guilin Liangjiang Airport", "蘭嶼機場", "Lanyu Airport", "喀山機場", "Kazan", "佬沃機場", "Laoag", "拉斯維加斯麥卡倫國際機場", "McCarran", "洛杉磯國際機場", "Los Angeles", "納閩機場", "Labuan", "聖彼得堡普爾科沃機場", "Saint Petersburg", "拉瓜地亞機場", "La Guardia Airport", "長堤", "Long Beach", "列日機場", "Liege", "蘭卡威國際機場", "Langkawi", "倫敦蓋威克國際機場", "LONDON GATWICK", "阿拉馬伊克巴勒國際機場", "Lahore", "倫敦希斯洛國際機場", "London", "蘭州中川國際機場", "Zhongchuan Airport", "里爾機場", "LILLE", "利馬查維茲國際機場", "Jorge Chavez Intl Airport", "里斯本機場", "Lisbon Intl Airport", "麗江三義國際機場", "Lijiang Sanyi Airport", "林茲機場", "LINZ AUSTRIA", "Nells Airforce Base", "Nells Airforce Base", "盧森堡芬德爾國際機場", "Luxembourg", "洛陽北郊機場", "Luoyang Beijiao Airport", "南竿機場", "Nangan Airport", "清奈國際機場", "MADRAS", "馬德里巴拉哈斯國際機場", "Barajas Intl Airport", "馬紹爾", "MARSHELL I.", "曼徹斯特國際機場", "Manchester Intl Airport", "馬斯喀特國際機場", "MUSCAT", "薩姆拉圖蘭吉國際機場", "MANADO", "曼德勒", "Mandalay", "芝加哥中途國際機場", "Chicago",
            "中途島", "MIDWAY", "YMEN", "Essendon Airport", "墨爾本國際機場", "Melbourne", "孟菲斯國際機場", "Memphis", "墨西哥城國際機場", "Juarez Intl Airport", "馬祖北竿機場", "Beigan Airport", "澳門國際機場", "Macau Intl Airport", "加州", "California", "邁阿密國際機場", "Miami International Airport", "Maldives", "女滿別", "MEMANBETSU", "清洲", "Kiyosu", "宮古機場", "Miyako Jima", "馬尼拉機場", "Ninoy Aquino Airport", "模里西斯國際機場", "Mauritius", "明尼亞波利斯聖保羅國際機場", "MINNEAPOLIS", "紐奧良國際機場", "New Orleans Intl Airport", "慕尼黑國際機場", "Munich Intl Airport", "務安", "MUAN", "米蘭馬爾彭薩機場", "Malpensa Intl Airport", "梅縣長崗岌機場", "Meixian Airport", "日本松山機場", "MATSUYAMA", "米里機場", "Miri", "澎湖", "Penghu Airport", "Mazari Sharif", "拿坡里國際機場", "Naples Airport", "寧波櫟社國際機場", "Ningbo", "中部國際機場", "CHUBU CENTRAIR INTL",
            "長崎機場", "Nagasaki", "南京祿口國際機場", "Nanjing", "名古屋", "Nagoya", "南寧吳圩國際機場", "Nanning", "努美阿國際機場", "NOUMEA NEW CALEDONIA", "東京成田機場", "Tokyo-Narita Intl Airport", "南通", "Nantong", "能登", "NOTO", "奧克蘭", "Oakland", "帶廣機場", "OBIHIRO", "卡胡魯伊機場", "Dillingham Airfield", "與那國島", "Yonaguni", "大分機場", "OITA", "沖縄", "Okinawa-Naha Airport", "札幌", "Sapporo", "日本岡山機場", "OKAYAMA", "橫田", "Yokota", "nome", "Nome Airport", "能代", "Noshiro", "安大略", "ONTARIO", "黃金海岸機場", "GOLD COAST", "芝加哥歐海爾國際機場", "CHIGAGO", "巴黎奧利機場", "Paris Orly Airport", "奧斯陸加勒穆恩國際機場", "Gardermoen Intl Airport", "Osan", "Osan AB", "奧斯坦德", "Ostend", "布加勒斯特亨利科恩達機場", "BUCHAREST ROMANIA", "俄羅斯", "Novosibirsk Tolmachevo Airport", "華盛頓", "Washington", "帕羅國際機場", "Paro Airport", "波特蘭國際機場", "PORTLAND", "北京首都國際機場",
            "Beijing", "檳城國際機場", "Penang", "伯斯國際機場", "Perth Intl Airport", "帕福斯", "Pafos", "海德蘭港", "Port Hedland", "費城國際機場", "PHILADELPHIA", "鳳凰城天港國際機場", "Sky Harbor Airport", "屏東", "Pingtung", "匹茲堡國際機場", "Pittsburgh Intl Airport", "堪察加", "KAMCHATSKY", "金邊國際機場", "Phnom Pehn Intl Aiport", "傑克遜斯國際機場", "PORT MORESBY", "Phaplu機場", "公主港", "Puerto Princesa", "富國機場", "Phu Quoc International Airport", "布拉格機場", "Prague Airport", "比薩聖朱斯托機場", "Pisa-San Giusto Airport", "PONTICAOAKLAND", "Auckland Airport", "巴拿馬托庫門國際機場", "Tocumen International Airport", "釜山金海國際機場", "Pusan Gimhae Airport", "上海", "Shanghai Pudong Airport", "波特蘭國際噴射機機場", "Portland Intl Jetport", "巴耶利峇", "Paya Lebar", "吳哥國際機場", "Siem", "仰光國際機場", "Yangon", "臺中國際機場", "Ching Chung Kang Airport", "雷諾太浩國際機場", "Reno-Tahoe International Airport", "帛琉國際機場", "Palau", "哈立德國王國際機場", "Riyadh", "聖地牙哥國際機場", "San Diego", "智利聖地牙哥國際機場", "Santiago Intl Airport",
            "仙台機場", "Sendai", "山打根機場", "Sandakan Airport", "聖杜蒙特機場", "Santos Dumont Airport", "西雅圖國際機場", "Seattle", "舊金山國際機場", "San Francisco", "蘇比克", "SFS", "胡志明市", "Tan Son Nhat Intl Airport", "上海虹橋國際機場", "Shanghai Hongqiao Airport", "中標津", "Nakashibetsu", "瀋陽桃仙國際機場", "Shenyang Taoxian Airport", "沙迦", "SHARJAH", "南紀白濱機場", "Shirahama", "新加坡樟宜國際機場", "Singapore-Changi Airport", "聖荷西國際機場", "SAN JOSE", "石家莊正定國際機場", "Shijiazhuang", "沙加緬度", "SACRAMENTO", "索菲亞國際機場", "Sofia Airport", "千穗", "Chitose", "塞班國際機場", "SAIPAN", "聖路易國際機場", "St. Louis Intl Airport", "倫敦史坦斯特國際機場", "Stansted Intl Airport", "Joint", "泗水朱安達國際機場", "Banda Udara", "莫斯科謝列梅捷沃國際機場", "Sheremetyevo Airport", "汕頭外砂機場", "Shantou Waisha Airport", "柏林香尼斐機場", "Berlin-Schonefeld Airport", "雪梨國際機場", "Sydney Airport", "庄內", "Shonai", "三亞鳳凰國際機場", "Phoenix", "蘇丹阿都阿兹沙機場", "Sultan Abdul Aziz Shah Airport", "薩爾茨堡機場", "Salzburg Airport", "深圳寶安國際機場", "Shenzhen", "大邱機場", "Daegu", "高松", "TAKAMATSU", "青島流亭國際機場", "Qingdao", "塔什干國際機場", "Tashkent International Airport", "努瓜婁發國際機場", "Tonga",
            "Tacoma", "Joint Base Lewis-McChord", "梅赫拉巴德國際機場", "TEHRAN", "格陵蘭島", "Thule Greenland", "徳之島機場", "Tokunoshima Airport", "德島", "Tokushima", "土魯斯布拉尼亞克機場", "Toulouse", "本古里安國際機場", "Ben-Gurion Airport", "濟南遙牆國際機場", "Jinan", "種子島", "Tanegashima", "臺南機場", "Tainan Airport", "東沙", "富山機場", "Toyama", "臺北桃園國際機場", "Taoyuan", "臺北松山國際機場", "Songshan Airport", "天津濱海國際機場", "Tianjin", "湯斯維爾機場", "TOWNSVILLE", "鳥取", "TOTTORI", "臺東機場", "Taitung Airport", "黃山屯溪國際機場", "Huangshan Airport", "太原武宿國際機場", "Taiyuan", "VAB", "安德森空軍基地", "ANDERSON AFB.", "山口宇部機場", "Yamaguchi-Ube", "烏文府", "Ubon Ratchathni", "烏法機場", "Ufa International Airport", "神戶", "Kobe Airport", "成吉思汗國際機場", "Buyant Uhaa Intl Airport", "烏魯木齊地窩堡國際機場", "Urumqi", "素叻他尼機場", "Surat Thani", "蘇梅國際機場", "Samui", "蔚山", "Ulsan", "烏隆他尼國際機場", "Udon Thani", "烏打拋", "U-Tapao", "庫頁島", "YUZHNO-SAKHALINSK/KHOMUTOVO", "瓦爾納國際機場", "VARNA BULGARIA", "芹苴", "Can Tho", "威尼斯泰塞拉機場", "Venice Intl Airport", "雲屯國際機場", "Van Don International Airport", "維也納國際機場", "WIEN-SCHWECHAT",
            "榮市", "Vinh International Airport", "莫斯科伏努科沃國際機場", "Vnukovo", "KVNY", "Van Nuys Airport", "永珍瓦岱國際機場", "WATTAY INTL", "海參崴國際機場", "VLADIVOSTOK", "華沙蕭邦國際機場", "Warsaw Intl Airport", "威海大水泊機場", "Weihai Dashuibo Airport", "稚內機場", "Wakkanai", "威靈頓國際機場", "WELLINGTON", "溫州龍灣國際機場", "Wenzhou Longwan Airport", "望安機場", "Wang-an", "武漢天河國際機場", "Wuhan", "武夷山機場", "Wuyishan Airport", "無錫碩放國際機場", "Wuxi Shuofang Airport", "西安咸陽國際機場", "XIAN", "廈門高崎國際機場", "Xiamen", "西寧曹家堡機場", "Xining Caojiabao Airport", "實里達", "Seletar", "徐州觀音國際機場", "Xuzhou Guanyin Airport", "利雅德", "Riyadh", "雅蒲島國際機場", "YAP INTL", "米子機場", "宜昌三峽機場", "Yichang Sanxia Airport", "義烏機場", "Yiwu", "蒙特婁(加拿大)", "Montreal Mirabel Canada", "延吉朝陽川國際機場", "Yanji", "煙台", "Yantai", "襄陽", "Yangyang", "鹽城南洋機場", "Yan Cheng Airport", "渥太華國際機場", "Ottawa Canada", "魁北克(加拿大)", "Quebec Canada", "柯摩克斯", "COMOX B.C.", "甘德機場", "Gander International Airport", "揚州", "Yangzhou Taizhou", "蒙特利爾國際機場", "Montreal-Trudeau Airport", "溫哥華國際機場", "Vancouver", "亞伯斯福特市", "ABBOTSFORD B.C.", "Whitehorse", "Whitehorse", "卡加利國際機場", "CALGARY", "多倫多國際機場", "Lester B. Pearson Airport", "薩格勒布機場", "Zagreb-Pleso Airport", "三寶顏機場", "Zamboanga", "蘇黎世機場", "Zurich-Kloten Airport",
            "AAN", "ADJ", "AKJ", "AKL", "AKN", "ALA", "AMD", "AMM", "AMS", "ANC", "AOJ", "ARN", "ASB", "ASY", "ATH", "ATL", "AUH", "AXT", "AZA", "AZI", "BAH", "BDL", "BEY", "BFI", "BHX", "BIK", "BJL", "BKI", "BKK", "BLI", "BLR", "BNE", "BOB", "BOM", "BOS", "BPM", "BRQ", "BRU", "BTH", "BUD", "BWI", "BWN", "CAH", "CAI", "CAN", "CBO", "CBR", "CCS", "CCU", "CDB", "CDG", "CEB", "CEI", "CGK", "CGN", "CGO", "CGQ", "CHC", "CIA", "CJJ", "CJU", "CKG", "CLD", "CLE", "CMB", "CMJ", "CNS", "CNX", "COK", "CPH", "CPT", "CRK", "CSX", "CTS", "CTU", "CXR", "CYI", "CZX", "DAC", "DAD", "DAY", "DCA", "DEL", "DEN", "DFW", "DHA", "DLC", "DME", "DMK", "DMM", "DNA", "DOV", "DPS", "DRS", "DRW", "DSX", "DTW", "DUB", "DUS", "DVO", "DWC", "DXB", "DYG", "EDF", "EIL", "ENA", "EWR", "EZE", "FAE", "FAI", "FCO", "FJR", "FKS", "FLR", "FNJ", "FOC", "FRA", "FRU", "FSZ", "FUK", "FZO", "GAJ", "GDX", "GES", "GGE", "GMP", "GNI", "GOH", "GRU", "GRZ", "GUM", "GVA", "GYD", "HAK", "HAM", "HAN", "HCN", "HDY", "HEL", "HET", "HFE", "HGH", "HHN", "HHQ", "HIA", "HIJ", "HIO", "HIR", "HIW", "HKD", "HKG", "HKT", "HLD", "HLP", "HNA", "HND", "HNL", "HRB", "HSG", "HTA", "HUH", "HUN", "IAB", "IAD", "IAH", "IBR", "ICN", "INC", "ISB", "ISG", "ISL", "IST", "ITM", "ITO", "IUD", "IWJ", "IZO", "JED", "JFK", "JHB", "JIL", "JJN", "JMU", "JNB", "JOG", "KBV", "KCH", "KCZ", "KDH", "KEF", "KHG", "KHH", "KHI",
            "KHN", "KHV", "KIJ", "KIX", "KJA", "KKJ", "KLO", "KMG", "KMI", "KMJ", "KMQ", "KNH", "KNO", "KOA", "KOJ", "KOS", "KOW", "KPO", "KRW", "KSA", "KTM", "KUA", "KUH", "KUL", "KUM", "KWA", "KWE", "KWI", "KWJ", "KWL", "KYD", "KZN", "LAO", "LAS", "LAX", "LBU", "LED", "LGA", "LGB", "LGG", "LGK", "LGW", "LHE", "LHR", "LHW", "LIL", "LIM", "LIS", "LJG", "LNZ", "LSV", "LUX", "LYA", "LZN", "MAA", "MAD", "MAJ", "MAN", "MCT", "MDC", "MDL", "MDW", "MDY", "MEB", "MEL", "MEM", "MEX", "MFK", "MFM", "MHV", "MIA", "MLE", "MMB", "MMJ", "MMY", "MNL", "MRU", "MSP", "MSY", "MUC", "MWX", "MXP", "MXZ", "MYJ", "MYY", "MZG", "MZR", "NAP", "NGB", "NGO", "NGS", "NKG", "NKM", "NNG", "NOU", "NRT", "NTG", "NTQ", "OAK", "OBO", "OGG", "OGN", "OIT", "OKA", "OKD", "OKJ", "OKO", "OME", "ONJ", "ONT", "OOL", "ORD", "ORY", "OSL", "OSN", "OST", "OTP", "OVB", "PAE", "PBH", "PDX", "PEK", "PEN", "PER", "PFO", "PHE", "PHL", "PHX", "PIF", "PIT", "PKC", "PNH", "POM", "PPL", "PPS", "PQC", "PRG", "PSA", "PTK", "PTY", "PUS", "PVG", "PWM", "QPG", "REP", "RGN", "RMQ", "RNO", "ROR", "RUH", "SAN", "SCL", "SDJ", "SDK", "SDU", "SEA", "SFO", "SFS", "SGN", "SHA", "SHB", "SHE", "SHJ", "SHM", "SIN", "SJC", "SJW", "SMF", "SOF", "SPK", "SPN", "STL", "STN", "STP", "SUB", "SVO", "SWA", "SXF", "SYD", "SYO", "SYX", "SZB", "SZG", "SZX", "TAE", "TAK", "TAO", "TAS", "TBU", "TCM", "THR", "THU", "TKN",
            "TKS", "TLS", "TLV", "TNA", "TNE", "TNN", "TOS", "TOY", "TPE", "TSA", "TSN", "TSV", "TTJ", "TTT", "TXN", "TYN", "UAB", "UAM", "UBJ", "UBP", "UFA", "UKB", "ULN", "URC", "URT", "USM", "USN", "UTH", "UTP", "UUS", "VAR", "VCA", "VCE", "VDO", "VIE", "VII", "VKO", "VNY", "VTE", "VVO", "WAW", "WEH", "WKJ", "WLG", "WNZ", "WOT", "WUH", "WUS", "WUX", "XIY", "XMN", "XNN", "XSP", "XUZ", "XXN", "YAP", "YGJ", "YIH", "YIW", "YMX", "YNJ", "YNT", "YNY", "YNZ", "YOW", "YQB", "YQQ", "YQX", "YTY", "YUL", "YVR", "YXX", "YXY", "YYC", "YYZ", "ZAG", "ZAM", "ZRH"
        ];
        $( "#flight_destination" ).autocomplete({
            source: availableDestination
        });

    });

    //限定日期為3個月內可選擇
    var threeMDate = new Date(new Date().getTime() + 24 * 60 * 60 * 1000 * 90);
    var threeMDateDay = threeMDate.getDate();
    var threeMDateMonth = threeMDate.getMonth() + 1;
    var threeMDateYear = threeMDate.getFullYear();
    if(threeMDateDay<10){threeMDateDay='0'+threeMDateDay} if(threeMDateMonth<10){threeMDateMonth='0'+threeMDateMonth} threeMDate = threeMDateYear+'-'+ threeMDateMonth+'-'+ threeMDateDay;
    $('#departureDate').attr('max',threeMDate);
    $('#returnDate').attr('max',threeMDate);

</script>

