@model FixedFlight
@{
    ViewData["Title"] = "航班搜尋結果";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/css/slick-theme.css" />
    <link rel="stylesheet" href="~/css/templatemo-style.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<div class="tm-page-wrap mx-auto">
    <section class="tm-banner">
        <div class="tm-container-outer tm-banner-bg">
            <div class="container">

                <div class="row tm-banner-row tm-banner-row-header">
                    <div class="col-xs-12">
                        <div class="tm-banner-header">
                            <h1 class="text-uppercase tm-banner-title">以下為搜尋結果</h1>
                            <img src="~/img/dots-3.png" alt="Dots">
                            <p class="tm-banner-subtitle">若搜尋結果不符合您的期望，可重新搜尋</p>
                        </div>
                    </div>  <!-- col-xs-12 -->
                </div> <!-- row -->
                <div class="row tm-banner-row" id="tm-section-search">

                    <form asp-action="FixedFlight" method="get" class="tm-search-form tm-section-pad-2">
                        <div class="form-row tm-search-form-row">
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                <label for="inputCity">請選擇您的出發地</label>
                                <input asp-for="Origin" list="ice-cream-flavors" id="ice-cream-choice" name="Origin" class="form-control" placeholder="Type your destination..." />
                                
                                <datalist id="ice-cream-flavors">
                                    <option value="Chocolate"></option>
                                    <option value="Coconut"></option>
                                    <option value="Mint"></option>
                                    <option value="Strawberry"></option>
                                    <option value="Vanilla"></option>
                                </datalist>

                            </div>
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                <label for="inputCity">請選擇您的目的地</label>
                                <input asp-for="Destination" list="ice-cream-flavors" id="ice-cream-choice" name="Destination" class="form-control" placeholder="Type your destination..." />

                                <datalist id="ice-cream-flavors">
                                    <option value="Chocolate">></option>
                                    <option value="Coconut"></option>
                                    <option value="Mint"></option>
                                    <option value="Strawberry"></option>
                                    <option value="Vanilla"></option>
                                </datalist>

                            </div>

                        </div> <!-- form-row -->
                        <div class="form-row tm-search-form-row">

                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3">
                                <label for="inputCheckIn">出發時間(從)</label>
                                <input asp-for="DepartureDate" class="form-control" type="date" required />
                            </div>
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3">
                                <label for="inputCheckOut">出發時間(到)</label>
                                <input asp-for="ReturnDate" class="form-control" type="date" required />
                            </div>
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                <label for="btnSubmit">&nbsp;</label>
                                <button type="submit" class="btn btn-primary tm-btn tm-btn-search text-uppercase" id="btnSubmit">重新搜尋</button>
                            </div>
                        </div>
                    </form>

                </div> <!-- row -->
                <div class="tm-banner-overlay"></div>
            </div>  <!-- .container -->
        </div>     <!-- .tm-container-outer -->
    </section>
</div>

    <div class="tm-container-outer" id="tm-section-3">

        <div class="tab-content clearfix">

            <!-- Tab  -->
            <div class="tab-pane fade show active" id="4a">
                <!-- Current Active Tab WITH "show active" classes in DIV tag -->
                <div class="tm-recommended-place-wrap">
                    @foreach (var flight in ViewBag.Depart)
                    {
                    <div class="tm-recommended-place">
                        <img src="~/img/chinaairlines.jpg" alt="Image" class="img-fluid tm-recommended-img">
                        <div class="tm-recommended-description-box">
                            <h3 class="tm-recommended-title">@flight.AirlineName</h3>
                            <p class="tm-text-highlight">起飛時間: @flight.DepartureTime</p>
                            <p class="tm-text-highlight">降落時間: @flight.ArrivalTime</p>
                            <p class="tm-text-gray">預估飛行時間：@flight.FlightTime</p>
                        </div>
                        @{/*自動依據出發時間，若抵達時間比出發時間早(代表跨日飛行)則自動將降落日期+1*/}
                        @{DateTime ArriveDate = (TimeSpan.Parse(flight.ArrivalTime.Replace("+1", "")) < TimeSpan.Parse(flight.DepartureTime)) ? flight.FlightDate.AddDays(1) : flight.FlightDate;}
                        <a href="#!" class="tm-recommended-price-box" data-toggle="modal" data-target="#exampleModal"
                           data-whatever="@flight.FlightNumber"
                           data-aName="@flight.AirlineName"
                           data-ddate="@flight.FlightDate.ToString("yyyy/MM/dd")"
                           data-dtime="@flight.DepartureTime"
                           data-adate="@ArriveDate.ToString("yyyy/MM/dd")"
                           data-atime="@flight.ArrivalTime">

                            <p class="tm-recommended-price">@flight.FlightNumber</p>
                            <p class="tm-recommended-price-link">儲存</p>
                        </a>
                    </div>
                    }
                    <!--
                    <div class="tm-recommended-place">
                        <img src="~/img/chinaairlines.jpg" alt="Image" class="img-fluid tm-recommended-img">
                        <div class="tm-recommended-description-box">
                            <h3 class="tm-recommended-title">中華航空</h3>
                            <p class="tm-text-highlight">起飛日期: 2021/12/16</p>
                            <p class="tm-text-highlight">起飛時間: 12:00</p>
                            <p class="tm-text-highlight">降落日期: 2021/12/16</p>
                            <p class="tm-text-highlight">降落時間: 14:00</p>
                            <p class="tm-text-gray">預估飛行時間...</p>
                        </div>
                        <a href="#!" class="tm-recommended-price-box" data-toggle="modal" data-target="#exampleModal" data-whatever="CL-2234">
                            <p class="tm-recommended-price">CL-2234</p>
                            <p class="tm-recommended-price-link">儲存</p>
                        </a>
                    </div>

                    <div class="tm-recommended-place">
                        <img src="~/img/evaair.png" alt="Image" class="img-fluid tm-recommended-img">
                        <div class="tm-recommended-description-box">
                            <h3 class="tm-recommended-title">長榮航空</h3>
                            <p class="tm-text-highlight">起飛日期: 2021/12/16</p>
                            <p class="tm-text-highlight">起飛時間: 12:00</p>
                            <p class="tm-text-highlight">降落日期: 2021/12/16</p>
                            <p class="tm-text-highlight">降落時間: 14:00</p>
                            <p class="tm-text-gray">預估飛行時間...</p>
                        </div>
                        <div id="preload-hover-img"></div>
                        <a href="#!" class="tm-recommended-price-box" data-toggle="modal" data-target="#exampleModal" data-whatever="CL-2234">
                            <p class="tm-recommended-price">CL-2234</p>
                            <p class="tm-recommended-price-link">儲存</p>
                        </a>
                    </div>

                    <div class="tm-recommended-place">
                        <img src="~/img/starlux.jpg" alt="Image" class="img-fluid tm-recommended-img">
                        <div class="tm-recommended-description-box">
                            <h3 class="tm-recommended-title">星宇航空</h3>
                            <p class="tm-text-highlight">起飛日期: 2021/12/16</p>
                            <p class="tm-text-highlight">起飛時間: 12:00</p>
                            <p class="tm-text-highlight">降落日期: 2021/12/16</p>
                            <p class="tm-text-highlight">降落時間: 14:00</p>
                            <p class="tm-text-gray">預估飛行時間...</p>
                        </div>
                        <a href="#!" class="tm-recommended-price-box" data-toggle="modal" data-target="#exampleModal" data-whatever="CL-2234">
                            <p class="tm-recommended-price">CL-2234</p>
                            <p class="tm-recommended-price-link">儲存</p>
                        </a>
                    </div>

                    <div class="tm-recommended-place">
                        <img src="~/img/tigerair.jpg" alt="Image" class="img-fluid tm-recommended-img">
                        <div class="tm-recommended-description-box">
                            <h3 class="tm-recommended-title">台灣虎航</h3>
                            <p class="tm-text-highlight">起飛日期: 2021/12/16</p>
                            <p class="tm-text-highlight">起飛時間: 12:00</p>
                            <p class="tm-text-highlight">降落日期: 2021/12/16</p>
                            <p class="tm-text-highlight">降落時間: 14:00</p>
                            <p class="tm-text-gray">預估飛行時間...</p>
                        </div>
                        <a href="#!" class="tm-recommended-price-box" data-toggle="modal" data-target="#exampleModal" data-whatever="CL-2234">
                            <p class="tm-recommended-price">CL-2234</p>
                            <p class="tm-recommended-price-link">儲存</p>
                        </a>
                    </div>
                    -->
                </div>

                <a href="#" class="text-uppercase btn-primary tm-btn mx-auto tm-d-table">顯示更多搜尋結果</a>
            </div> <!-- tab-pane -->


            <!-- 按下儲存後出現的 彈跳視窗 -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">儲存機票</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                      <form asp-action="SaveFlight" method="post">
                          <div class="form-group row">


                              <label for="airlineName" class="col-sm-5 col-form-label">航班名稱</label>
                              <div class="col-sm-5">
                                  <input type="text" readonly class="form-control-plaintext" id="airlineName" value="N/A">
                              </div>

                              <label for="departureDate" class="col-sm-5 col-form-label">起飛日期</label>
                              <div class="col-sm-5">
                                  <input type="text" readonly class="form-control-plaintext" id="departureDate" value="N/A">
                              </div>

                              <label for="departureTime" class="col-sm-5 col-form-label">起飛時間</label>
                              <div class="col-sm-5">
                                  <input type="text" readonly class="form-control-plaintext" id="departureTime" value="N/A">
                              </div>

                              <label for="arriveDate" class="col-sm-5 col-form-label">降落日期</label>
                              <div class="col-sm-5">
                                  <input type="text" readonly class="form-control-plaintext" id="arriveDate" value="N/A">
                              </div>

                              <label for="arriveTime" class="col-sm-5 col-form-label">降落時間</label>
                              <div class="col-sm-5">
                                  <input type="text" readonly class="form-control-plaintext" id="arriveTime" value="N/A">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="message-text" class="col-form-label">備註訊息:</label>
                              <textarea asp-for="Note" class="form-control" id="message-text" name="note"></textarea>
                          </div>
                          <!--儲存班機專用-->
                          <input type="hidden" asp-for="FlightNumber" id="FlightNumber" />
                          <input type="hidden" asp-for="Origin" id="Origin" value="@ViewData["origin"]"/>
                          <input type="hidden" asp-for="Destination" id="Destination" value="@ViewData["destination"]"/>
                          <input type="hidden" asp-for="DepartureDate" id="DepartureDateTime" />
                          <input type="hidden" asp-for="ReturnDate" id="ArriveDateTime" />

                          <div class="modal-footer">
                              <button type="reset" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                              <button type="submit" class="btn btn-primary">儲存此班機</button>
                          </div>
                      </form>

                  </div>
                  
                </div>
              </div>
            </div>

        </div>
    </div>


    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var recipient = button.data('whatever'); // Extract info from data-* attributes
            //var airlineName = button.data('aName');
            // departureDate = button.data('ddate');
            //var departureTime = button.data('dtime');
            //var arriveDate = button.data('adate');
            //var arriveTime = button.data('atime');
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            
            var modal = $(this);
            modal.find('.modal-title').text('儲存' + recipient + '的機票');
            modal.find('#airlineName').val(button.attr('data-aName'));
            modal.find('#departureDate').val(button.attr('data-ddate'));
            modal.find('#departureTime').val(button.attr('data-dtime'));
            modal.find('#arriveDate').val(button.attr('data-adate'));
            modal.find('#arriveTime').val(button.attr('data-atime'));

            //儲存機票專用
            modal.find('#FlightNumber').val(recipient);
            console.log(button.attr('data-ddate') + ' ' + button.attr('data-dtime').replace('+1', ''))
            modal.find('#DepartureDateTime').val(button.attr('data-ddate') + ' ' + button.attr('data-dtime').replace('+1', ''));
            modal.find('#ArriveDateTime').val(button.attr('data-adate') + ' ' + button.attr('data-atime').replace('+1', ''));

            //modal.find('#airlineName').val(airlineName);
            //modal.find('#departureDate').val(departureDate);
            //modal.find('#departureTime').val(departureTime);
            //modal.find('#arriveDate').val(arriveDate);
            //modal.find('#arriveTime').val(arriveTime);           
        })
    </script>