@model IEnumerable<Flight>
@*選擇資料表*@
@{
    ViewData["Title"] = "使用者航班";
}

<head>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/img/favicon.ico" />
    <!-- 彈跳視窗的js --><!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/personstyles.css" rel="stylesheet" />
    <!--
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    -->

    <!--備註彈跳視窗-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <!--備註彈跳視窗-->

</head>

<body id="page-top">
    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <!-- 增加個人檔案邊框 -->
        <div class="container d-flex align-items-center flex-column" style="border-width:4px;border-style:dashed;border-color:#f3e5e5;padding:10px;">
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5" src=@ViewData["log_profile"] alt="..." />
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0" style="border:6px orange solid;padding:10px;">@ViewData["log_name"]</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-plane"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">@ViewData["log_email"]</p>
        </div>
    </header>

    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
        <div>
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">個人航班</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-plane"></i></div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center" style="width: 100%;">

                @if (Model.Count() > 0) //讀資料庫航班成功，還差辨別航班屬於誰
                {
                    @foreach (var obj in Model)
                    {
                        @*這裡應該能辨別航班屬於誰*@
                        @if (@obj.MemberID.Equals(@ViewData["logid"]))
                        {
                            <!-- Portfolio Item 1航班-->
                            <div class="col-6" style="margin: 10px 0;">
                                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal-@obj.FlightID">
                                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                    </div>
                                    <!--一張航班-->
                                    <div>
                                        <div class="ticket_form">
                                            <div class="ticketcontainer">
                                                <div class="ticket-row ticket-row-border">
                                                    <div class="ticket-col ticket-rwd-bg">
                                                        <span style="align-self: center;">@obj.FlightCode</span>
                                                        <span class="ticket-font-small">@obj.Airline</span>
                                                    </div>
                                                    <div class="ticket-col ticket-rwd-bg">
                                                        <span>@obj.AirportFrom</span>
                                                        <span class="ticket-font-small">@obj.CityFrom</span>
                                                    </div>
                                                    <div class="ticket-col" style="justify-content: center;"><img src="~/img/airplane-icon.png" alt=""></div>
                                                    <div class="ticket-col ticket-rwd-bg">
                                                        <span style="align-self: center;">@obj.AirportTo</span>
                                                        <span class="ticket-font-small">@obj.CityTo</span>
                                                    </div>
                                                    <div class="ticket-font-small" style="color: #57ff65;">@obj.Status</div>
                                                </div>

                                                <div class="ticket-row-bottom">
                                                    <div class="ticket-col ticket-col-left">
                                                        <span class="ticket-font-small airportFromTo">@obj.AirportFrom</span>
                                                        <div class="ticket-col ticket-rwd-bg" style="padding: 5px 0;">
                                                            <span class="ticket-font-small">Departure Times</span>
                                                            <span>@obj.DepTime.ToString("dd MMM yyyy")</span>

                                                        </div>

                                                        <div class="ticket-row" style="padding: 0;align-items: center;">
                                                            <span class="ticket-font-small" style="text-align: center;">Scheduled</span>
                                                            <span style="align-self: center;padding: 2px;">@obj.DepTime.ToString("HH:mm")</span>

                                                        </div>

                                                    </div>
                                                    <hr width="1" style="background-color: #f8f9fa;height: auto;margin: 0;" />
                                                    <div class="ticket-col ticket-col-right">
                                                        <span class="ticket-font-small airportFromTo">@obj.AirportTo</span>
                                                        <div class="ticket-col ticket-rwd-bg" style="padding: 5px 0;">
                                                            <span class="ticket-font-small">Arrival Times</span>
                                                            <span>@obj.ArriTime.ToString("dd MMM yyyy")</span>
                                                        </div>

                                                        <div class="ticket-row " style="padding: 0;align-items: center;">
                                                            <span class="ticket-font-small">Scheduled</span>
                                                            <span style="align-self: center;padding: 2px;">@obj.ArriTime.ToString("HH:mm")</span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--一張航班-->
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </section>

    
    @if (Model.Count() > 0) //讀資料庫航班成功，還差辨別航班屬於誰
    {
        @foreach (var obj in Model)
        {
            @if (@obj.MemberID.Equals(@ViewData["logid"]))
            {
                <!-- Portfolio Modal 1-->
                <div class="portfolio-modal modal fade" id="portfolioModal-@obj.FlightID" tabindex="-1" aria-labelledby="portfolioModal-@obj.FlightID" aria-hidden="true">
                    <div class="modal-dialog modal-xl ">
                        <div class="modal-content">
                            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                            <div class="modal-body text-center pb-5">
                                <div class="container form-container ">
                                    <!--刪除、修改時要傳給後端的表單-->
                                    <form id="TicketForm" class="row justify-content-center" asp-action="" method="post">
                                        <div class="col-lg-auto">
                                            <!-- Portfolio Modal - Title-->
                                            @*<input value=@obj.FlightID name="FlightId" hidden />*@
                                            @*<input required class="form-control" id="note" value=@obj.FlightNote type="text" placeholder="Enter your name..." name="FlightNote" />*@
                                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">@obj.FlightNote</h2>
                                            <!-- Icon Divider-->
                                            <div class="divider-custom">
                                                <div class="divider-custom-line"></div>
                                                <div class="divider-custom-icon"><i class="fas fa-plane"></i></div>
                                                <div class="divider-custom-line"></div>
                                            </div>


                                            <!-- Portfolio Modal - Image-->
                                            <!--一張航班-->
                                            <div>
                                                <div class="ticket_form">
                                                    <div class="ticketcontainer">
                                                        <div class="ticket-row ticket-row-border">
                                                            <div class="ticket-col ticket-rwd-bg">
                                                                <span style="align-self: center;">@obj.FlightCode</span>
                                                                <span class="ticket-font-small">@obj.Airline</span>
                                                            </div>
                                                            <div class="ticket-col ticket-rwd-bg">
                                                                <span>@obj.AirportFrom</span>
                                                                <span class="ticket-font-small">@obj.CityFrom</span>
                                                            </div>
                                                            <div class="ticket-col" style="justify-content: center;"><img src="~/img/airplane-icon.png" alt=""></div>
                                                            <div class="ticket-col ticket-rwd-bg">
                                                                <span style="align-self: center;">@obj.AirportTo</span>
                                                                <span class="ticket-font-small">@obj.CityTo</span>
                                                            </div>
                                                            <div class="ticket-font-small" style="color: #57ff65;">@obj.Status</div>
                                                        </div>

                                                        <div class="ticket-row-bottom">
                                                            <div class="ticket-col ticket-col-left">
                                                                <span class="ticket-font-small airportFromTo">@obj.AirportFrom</span>
                                                                <div class="ticket-col ticket-rwd-bg" style="padding: 5px 0;">
                                                                    <span class="ticket-font-small">Departure Times</span>
                                                                    <span>@obj.DepTime.ToString("dd MMM yyyy")</span>

                                                                </div>

                                                                <div class="ticket-row" style="padding: 0;align-items: center;">
                                                                    <span class="ticket-font-small" style="text-align: center;">Scheduled</span>
                                                                    <span style="align-self: center;padding: 2px;">@obj.DepTime.ToString("HH:mm")</span>
                                                                </div>

                                                            </div>
                                                            <hr width="1" style="background-color: #f8f9fa;height: auto;margin: 0;" />
                                                            <div class="ticket-col ticket-col-right">
                                                                <span class="ticket-font-small airportFromTo">@obj.AirportTo</span>
                                                                <div class="ticket-col ticket-rwd-bg" style="padding: 5px 0;">
                                                                    <span class="ticket-font-small">Arrival Times</span>
                                                                    <span>@obj.ArriTime.ToString("dd MMM yyyy")</span>
                                                                </div>

                                                                <div class="ticket-row " style="padding: 0;align-items: center;">
                                                                    <span class="ticket-font-small">Scheduled</span>
                                                                    <span style="align-self: center;padding: 2px;">@obj.ArriTime.ToString("HH:mm")</span>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--一張航班-->

                                            <div id="editnote-@obj.FlightID" style="background:#ffffff; display:none;font-family:Microsoft JhengHei">
                                                <div style="display:flex;align-items: center;justify-content: center;margin: 10px auto; ">
                                                    <div class="editNote">
                                                        輸入備註： <input type="text" style="margin: 5px;"/>
                                                    </div>
                                                    <button class="btn btn-primary" style="height: fit-content;">確定</button>
                                                </div>
                                            </div>
                                            
                                            <!--要點了這個之後上方備註變成可輸入、按鈕變成確定修改-->

                                            <div class="btn btn-primary" href="#!" data-bs-dismiss="modal" id="note-@obj.FlightID">
                                                <i class="bi bi-pencil-square"></i>
                                                修改備註
                                            </div>
                                            
                                            <button name="delete_ticket" class="btn btn-primary delete-btn" href="#!" data-bs-dismiss="modal">
                                                <i class="fas fa-times fa-fw"></i>
                                                刪除航班
                                            </button>


                                        </div>
                                    </form>
                                    <!--刪除、修改時要傳給後端的表單-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <script>
                     var editBtn_@obj.FlightID = 0;
                  //新增點選事件
		            $("#note-@obj.FlightID").click(function(){
			            editBtn_@obj.FlightID ++;
                        if( editBtn_@obj.FlightID %2 !=0){
                            $("#editnote-@obj.FlightID").show();
                        }
                        else{   //點第二次會隱藏
                            $("#editnote-@obj.FlightID").hide();
                        }
		            })

                </script>
            }
        }
    }

     <!-- Core theme JS-->
     <script src="~/js/scripts.js"></script>
     <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    
 </body>
