@{
    ViewData["Title"] = "即時動態";
}
@model Flight

<head>
    <link rel="stylesheet" href="~/css/realtimeTicket.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--回到頂端的js-->
    <script src="https://cdn.staticfile.org/jquery/2.2.4/jquery.min.js"></script>
    <!--datatable的js-->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
</head>
<header class="masthead">
    <div class="center">
        <h1 class="h1-title">即時航班動態</h1>
    </div>

    <!--搜索框-->
    <div class="search-box">
        <form method="get" asp-action="Realtime" class="search_container">
            <span class="icon"><i class="bi bi-search"></i></span>
            <input type="text" name="FlightCode" asp-for="FlightCode" id="search" placeholder="Search..." />
        </form>
    </div>
</header>

<!--即時航班：只呈現今天的即時航班，可以給非會員使用-->
<div>
    <table style="width: 90%; margin: 10px auto;" id="setTable">
        <thead>
            <tr class="realtime-title">
                <th>降落時間</th>
                <th>航空名稱</th>
                <th>班機編號</th>
                <th>出發地</th>
                <th>目的地</th>
                <th>狀態</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @*固定的ViewBag Data*@
            @*<tr class="realtime-contain">
                    <td>@ViewBag.Flight.ActualArrivalTime</td>
                    <td>@ViewBag.Flight.AirlineID</td>
                    <td>@ViewBag.Flight.FlightNumber</td>
                    <td>@ViewBag.Flight.DepartureAirportID</td>
                    <td>@ViewBag.Flight.ArrivalAirportID</td>
                    <td>@ViewBag.Flight.ArrivalRemark</td>

                </tr>*@
            @*跑迴圈把資料拿出來 但是將時間沒辦法只留時間 日期都會在*@
            @foreach (var allFlight in ViewBag.AllFlight)
            {
                <tr class="realtime-contain">
                    <td>@allFlight.ScheduleArrivalTime</td>
                    <td>@allFlight.AirlineID</td>
                    <td>@allFlight.AirlineID_zh@allFlight.FlightNumber</td>
                    <td>@allFlight.DepartureAirportID</td>
                    <td>@allFlight.ArrivalAirportID</td>
                    <td>@allFlight.ArrivalRemark</td>
                </tr>
            }

        </tbody>
    </table>

    <button class="js-back-to-top back-to-top" title="回到頂端">&#65085;</button>




</div>

<script>
    /* 使用 Datatable 搜尋 & 分頁 */
    $(document).ready( function () {
        var oTable = $('#setTable').DataTable({
            // 在初始表格的左上有個可選擇的每頁列數的選單設定
            lengthChange: true,   // 呈現選單
            lengthMenu: [5, 10, 15, 20, 25, 30 ,50],   // 選單值設定
            pageLength: 15,   // 不用選單設定也可改用固定每頁列數
  
            searching: true,   // 是否開啟搜索功能
            ordering: false,   // 是否開啟排序功能
  
            // 下列 2 個一起用，就可以設定列出全部資料、可滑動又固定尺寸的表格
            paging: true,   // 是否建立分頁
            //scrollY: 400,   // 固定可以上下滑動的高度
  
            // [指定的列 , 排序方向] 。
            // 預設 [[0, 'asc']] ，asc 升冪排列、desc 降冪排列。
            order: [[ 1, 'asc' ], [ 2, 'asc' ]],
  
            language: {
                "lengthMenu": "顯示 _MENU_ 項結果",
                "zeroRecords": "沒有符合的結果",
                "info": "顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
                "infoEmpty": "顯示第 0 至 0 項結果，共 0 項",
                "search": "搜尋:",
                "infoFiltered": "(從 _MAX_ 項結果中過濾)",
                "paginate": {
                    "first": "第一頁",
                    "previous": "上一頁",
                    "next": "下一頁",
                    "last": "最後一頁"
                },
            }
        });

        $('#search').keyup(function(){
              oTable.search($(this).val()).draw() ;
        })
        var res = $("#search").val().toLowerCase();
        if( res!='' || res!=undefined ){
            //console.log(res);//檢查用
            oTable.search(res).draw() ;
        }

    } );

    
    /* 回到頂端 */
    $(function () {
        var $win = $(window);
        var $backToTop = $('.js-back-to-top');
        // 當用戶滾動到離頂部100像素時，展示回到頂部按鈕
        $win.scroll(function () {
            if ($win.scrollTop() > 100) {
                $backToTop.show();
            }
            else {
                $backToTop.hide();
            }
        });
        // 當用戶點擊按鈕時，通過動畫效果返回頭部
        $backToTop.click(function () {
            $('html, body').animate({ scrollTop: 0 }, 200);
        });
    });

</script>

<div class="container footer-container">
    <img src="../img/bg-realtimeTicket.jpg" alt="" class="greeting_bg">
    <span class="greeting">Wish  you  a  good  journey.</span>
</div>

