@{
    ViewData["Title"] = "即時動態";
}
<head>
    <link rel="stylesheet" href="~/css/realtimeTicket.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--回到頂端的js-->
    <script src="https://cdn.staticfile.org/jquery/2.2.4/jquery.min.js"></script>
</head>

<header class="masthead">
    <div class="center">
        <h1 class="h1-title">即時航班動態</h1>
    </div>

    <!--搜索框-->
    <div class="search-box">
        <div class="search_container">
            <span class="icon"><i class="bi bi-search"></i></span>
            <input type="text" id="search" placeholder="Search..." onkeyup="myFunction()" />
        </div>
    </div>
</header>

<!--即時航班：只呈現今天的即時航班，可以給非會員使用-->
<div>
    <table style="width: 90%; margin: 10px auto;">
        <thead>
            <tr class="realtime-title">
                <th>降落時間</th>
                <th>航空名稱</th>
                <th>班機編號</th>
                <th>出發地</th>
                <th>目的地</th>
                <th>狀態</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @*固定的ViewBag Data*@
            <tr class="realtime-contain">
                <td>@ViewBag.Flight.ActualArrivalTime</td>
                <td>@ViewBag.Flight.AirlineID</td>
                <td>@ViewBag.Flight.FlightNumber</td>
                <td>@ViewBag.Flight.DepartureAirportID</td>
                <td>@ViewBag.Flight.ArrivalAirportID</td>
                <td>@ViewBag.Flight.ArrivalRemark</td>

            </tr>
            @*跑迴圈把資料拿出來 但是將時間沒辦法只留時間 日期都會在*@
            @foreach (var allFlight in ViewBag.AllFlight)
            {
                <tr class="realtime-contain">
                    <td>@allFlight.ActualArrivalTime</td>
                    <td>@allFlight.AirlineID</td>
                    <td>@allFlight.AirlineID@allFlight.FlightNumber</td>
                    <td>@allFlight.DepartureAirportID</td>
                    <td>@allFlight.ArrivalAirportID</td>
                    <td>@allFlight.ArrivalRemark</td>
                </tr>
            }

        </tbody>
    </table>

    <button class="js-back-to-top back-to-top" title="回到頂端">&#65085;</button>




</div>

<script>
/* 搜尋table */
$(document).ready(function(){
    $("#search").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
    });
});
   
/* 回到頂端 */
$(function () {
  var $win = $(window);
  var $backToTop = $('.js-back-to-top');
  // 當用戶滾動到離頂部100像素時，展示回到頂部按鈕
  $win.scroll(function (){
    if ($win.scrollTop() > 100){
       $backToTop.show();
    }
    else{
        $backToTop.hide();
    }
  });
    // 當用戶點擊按鈕時，通過動畫效果返回頭部
    $backToTop.click(function () {
        $('html, body').animate({scrollTop: 0}, 200);
    });
});

</script>

<div class="container footer-container">
    <img src="../img/bg-realtimeTicket.jpg" alt="" class="greeting_bg">
    <span class="greeting">Wish  you  a  good  journey.</span>
</div>

